<div class="auth-body">
  <label class="fof-title">FREE OR FOR SALE</label>
  <br>
  <label class='for-university-students'>For University Students</label>
  <br>

  <div class="guest-sign-up-laurie">
    <form action="<%= session_url %>" method="post" class="auth_token">

      <input
      type="hidden"
      name="authenticity_token"
      id=""
      value="<%= form_token %>">


      <input
      type="hidden"
      name="user[username]"
      id="user_username"
      value="laurieou">


      <input
      type="hidden"
      name="user[password]"
      id="user_password"
      value="laurie">

      <input class="guest-sign-in-laurie-button" type="submit" value="Demo Sign In as Laurie">
    </form>
  </div>

<div class="auth-container-sign-up">

    <div class="fofs-title">
    </div>

      <div class='form-input'>
        <h1 class='whitetext'>Sign Up</h1>

        <form class="form-group" action="<%= users_url %>" method="post">
          <%= form_token %><br/>

          <label class='whitetext' for="Username">Username</label>
          <input type="text" name="user[username]">
          <br>
          <br>

          <label class='whitetext' for="Useremail">Univ Email</label>
          <input type="text" name="user[email]">
          <br>
          <br>

          <label class='whitetext' for="user_password">Password</label>
          <input type="password" name="user[password]">
          <br>
          <br>


          <label class='whitetext' for="University">University</label>
          <select type="text" class="university-box" name="user[university_id]">
            <option></option>
            <option value='<%=1%>'>UCLA</option>
            <option value='<%=2%>'>UCBerkeley</option>
            <option value='<%=3%>'>UCSB</option>
            <option value='<%=4%>'>NYU</option>
            <option value='<%=5%>'>Duke</option>
          </select>
          <br>
          <br>

          <input type="submit" value="Sign Up">
        </form>
    </div>


    <div class="whitetext">
      Already a member?
      <a href="/session/new" class="link">Sign in here!</a>
    </div>

  </div>
</div>
